<div class="d-flex container justify-content-center  h-100 w-100 mt-5">
  <div class="d-flex flex-column justify-content-center h-100 w-50 mt-5 p-3 bckgrnd_calc">
    <div class="w-100 h-25 bckgrnd_screen align-items-center text-center" id="pantalla" >
      <p>{{screen}}</p>
    </div>
    <div class="d-flex justify-content-center h-50 w-100">
      <div class="m-1 mb-0 w-75">
        <div class="d-flex justify-content-center h-25">
          <button class="w-100 h-100" type="button" (click)="getNumberPressed(1)">1</button>
          <button class="w-100 h-100" type="button" (click)="getNumberPressed(2)">2</button>
          <button class="w-100 h-100" type="button" (click)="getNumberPressed(3)">3</button>
        </div>
        <div class="d-flex justify-content-center h-25">
          <button class="w-100 h-100" type="button" (click)="getNumberPressed(4)">4</button>
          <button class="w-100 h-100" type="button" (click)="getNumberPressed(5)">5</button>
          <button class="w-100 h-100" type="button" (click)="getNumberPressed(6)">6</button>
        </div>
        <div class="d-flex justify-content-center h-25">
          <button class="w-100 h-100" type="button" (click)="getNumberPressed(7)">7</button>
          <button class="w-100 h-100" type="button" (click)="getNumberPressed(8)">8</button>
          <button class="w-100 h-100" type="button" (click)="getNumberPressed(9)">9</button>
        </div>
        <div class="d-flex justify-content-center h-25">
          <button class="w-100 h-100" type="button" (click)="getNumberPressed('.')">.</button>
          <button class="w-100 h-100" type="button" (click)="getNumberPressed(0)">0</button>
          <button class="w-100 h-100" type="button" (click)="cleaner()">c</button>
        </div>
        <!-- <div class="w-100 mt-2">
          
          
          
        </div> -->
      </div>      
      <div class="mt-1 h-100 w-25">
          <div>
            <button class="w-100 h-100" type="button" (click)="operatorFun('/')">/</button>
          </div>
          <div>
            <button class="w-100 h-100" type="button" (click)="operatorFun('*')">x</button>
          </div>
          <div>
            <button class="w-100 h-100" type="button" (click)="operatorFun('-')">-</button>
          </div>
          <div>
            <button class="w-100 h-100" type="button" (click)="operatorFun('+')" >+</button>
          </div>
          <div>
            <button class="w-100 h-100" type="button" (click)="result()">=</button>
      </div>
    </div>
  </div>
</div>
